*.zip
*.jar
*.mod
*~
mx.s550/.project
mx.s550/.pydevproject
mx.s550/*.pyc
mx.s550/__pycache__
mx.s550/env
mx.s550/eclipse-launches/**
.DS_Store
build.xml
workingsets.xml
hs_err_pid*.log
compilations-*.cfg
s550/**
lib/**
mxbuild/**
mx.imports/**
.idea/**
build/**
projects/.project
projects/*/nbproject/
projects/*/build.xml
projects/*/\.settings
projects/*/\.classpath
projects/*/\.project
projects/*/\bin
projects/*/\.checkstyle
projects/*/*.iml
projects/*/\.factorypath
